/*
To compile:
0.  Visit https://github.com/jonycheung/deadsimple-less-watch-compiler
1.  Open Terminal
2.  Type this code at the project folder:
    less-watch-compiler less css
*/
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v5/pxiGyp8kv8JHgFVrJJLucHtF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  src: local('Kanit Light'), local('Kanit-Light'), url(https://fonts.gstatic.com/s/kanit/v3/nKKU-Go6G5tXcr4-ORWnVaQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local('Kanit Regular'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v3/nKKZ-Go6G5tXcraVGwU.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  src: local('Kanit Bold'), local('Kanit-Bold'), url(https://fonts.gstatic.com/s/kanit/v3/nKKU-Go6G5tXcr4uPhWnVaQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6Mw.ttf) format('truetype');
}
/*---General Setting---*/
body {
  padding-top: 0px;
}
/*---bar---*/
#mainNav.navbar-shrink {
  padding-top: 0;
  padding-bottom: 0;
  background-color: #e4b6c2;
}
/*---menubar---*/
#mainNav .navbar-nav .nav-item .nav-link {
  color: #ffffff;
}
/*---logobanner---*/
#mainNav .navbar-brand {
  color: #ffffff;
  font-family: 'Pacifico';
}
/*---banner---*/
.banner {
  background-image: url(../img/banner-1.png);
  height: 100vh;
  background-repeat: no-repeat;
}
/*---fontstyle---*/
p {
  font-size: 18px;
  color: #727272;
  text-align: center;
  font-family: 'Kanit';
  padding-top: 10px;
  margin-bottom: 40px;
}
h1 {
  color: white;
  font-size: 64px;
  font-weight: 700;
  line-height: 200px;
  align-items: flex-start;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h2 {
  color: black;
  font-size: 40px;
  padding-top: 50px;
  margin-bottom: 70px;
  align-items: flex-start;
  text-align: center;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h3 {
  color: gray;
  font-size: 18px;
  padding-top: 30px;
  padding-bottom: 30px;
  font-style: normal;
  font-family: 'Helvetica';
  font-weight: 100;
}
h5 {
  color: gray;
  font-size: 18px;
  padding-top: 10px;
  padding-bottom: 40px;
  font-style: normal;
  font-family: 'Helvetica';
  font-weight: 100;
}
h4 {
  font-size: 26px;
  color: blcak;
  font-weight: 700;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
h6 {
  font-size: 18px;
  color: #727272;
  font-weight: 100;
  text-align: center;
  font-family: 'Kanit';
  padding-top: 10px;
}
section h2.section-heading {
  font-size: 40px;
  margin-top: 0;
  margin-bottom: 80px;
}
section {
  padding: 10px 0px;
}
head.intro-heading {
  padding-top: 0px;
  font-size: 54px;
  font-weight: 700;
  line-height: 60px;
  align-items: flex-start;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
  opacity: 0;
  background: rgba(255, 26, 106, 0.5);
}
.text-primary {
  color: #727272 !important;
}
.btn-primary {
  background-color: #e4b6c2;
  border-color: #e4b6c2;
  font-family: Helvetica;
}
.btn-primary:hover {
  background-color: #e290a0!important;
  border-color: #e290a0!important;
}
.work-page #mainNav {
  background-color: #e4b6c2 !important;
}
.work-page .modal-content {
  border: 0px;
}
/*---Responsive (Bootstrap Standard)---*/
/* Only Large devices (LG) */
/* Only Medium devices (MD) */
/* Only Small devices (SM) */
/* Only Extra Small devices (XS) */
