/*
To compile:
0.  Visit https://github.com/jonycheung/deadsimple-less-watch-compiler
1.  Open Terminal
2.  Type this code at the project folder:
    less-watch-compiler less css
*/
@font-face {
  font-family: 'Poppins';
  font-style: italic;
  font-weight: 400;
  src: local('Poppins Italic'), local('Poppins-Italic'), url(https://fonts.gstatic.com/s/poppins/v5/pxiGyp8kv8JHgFVrJJLucHtF.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 300;
  src: local('Poppins Light'), local('Poppins-Light'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLDz8Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: local('Poppins Regular'), local('Poppins-Regular'), url(https://fonts.gstatic.com/s/poppins/v5/pxiEyp8kv8JHgFVrJJfedw.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: local('Poppins SemiBold'), local('Poppins-SemiBold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLEj6Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: local('Poppins Bold'), local('Poppins-Bold'), url(https://fonts.gstatic.com/s/poppins/v5/pxiByp8kv8JHgFVrLCz7Z1xlEA.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 300;
  src: local('Kanit Light'), local('Kanit-Light'), url(https://fonts.gstatic.com/s/kanit/v3/nKKU-Go6G5tXcr4-ORWnVaQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 400;
  src: local('Kanit Regular'), local('Kanit-Regular'), url(https://fonts.gstatic.com/s/kanit/v3/nKKZ-Go6G5tXcraVGwU.ttf) format('truetype');
}
@font-face {
  font-family: 'Kanit';
  font-style: normal;
  font-weight: 700;
  src: local('Kanit Bold'), local('Kanit-Bold'), url(https://fonts.gstatic.com/s/kanit/v3/nKKU-Go6G5tXcr4uPhWnVaQ.ttf) format('truetype');
}
/*---General Setting---*/
body {
  padding-top: 0px;
}
h1 {
  color: #1C77C8;
  font-family: 'Poppins';
  margin-top: 40px;
  text-align: left;
}
h2 {
  color: #1C77C8;
  font-family: 'Poppins';
  margin-top: 40px;
}
h5 {
  font-family: 'Kanit';
}
section {
  padding: 20px 0;
}
head.intro-text {
  text-align: left;
}
header.masthead {
  background-image: url(../img/header1.png);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
head.intro-heading {
  padding-top: 0px;
  font-size: 54px;
  font-weight: 700;
  line-height: 60px;
  align-items: flex-start;
  font-family: Montserrat, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#portfolio .portfolio-item .portfolio-link .portfolio-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  transition: all ease .5s;
  opacity: 0;
  background: rgba(255, 26, 106, 0.5);
}
.text-primary {
  color: #FF1A6A !important;
}
#mainNav .navbar-nav .nav-item .nav-link {
  color: #1C77C8;
}
#mainNav .navbar-brand {
  color: white;
  font-family: 'Poppins' cursive;
}
/*---Button---*/
.btn-primary {
  color: #ffffff;
  background-color: #1C77C8;
  border-color: #000000;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary:active:focus,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #165c9b;
  border-color: #000000;
}
.btn-primary:active,
.btn-primary.active,
.btn-primary:active:focus,
.open .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled:active:focus,
.btn-primary[disabled]:active:focus,
fieldset[disabled] .btn-primary:active:focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #1C77C8;
  border-color: #000000;
}
.btn-primary .badge {
  color: #1C77C8;
  background-color: #ffffff;
}
/*---Responsive (Bootstrap Standard)---*/
/* Only Large devices (LG) */
/* Only Medium devices (MD) */
/* Only Small devices (SM) */
/* Only Extra Small devices (XS) */
