// Color Variables
@color-theme-primary: #1C77C8;
@color-theme-secondary:#FF1A6A;

// Font Variables
@font-primary:'Poppins';
@font-primaryth: 'Kanit';
@font-secondary: 'Helvetica Neue',Helvetica,Arial,sans-serif;

//Fix Glyphicons Location
@icon-font-path: "../bower_components/bootstrap/fonts/";
